body {
    background-color: #fffbf7;
}

h1 {
    /* color: #46484c; */
    color: #025157;
    /* text-align: center; */
}

p {
    color: #161414e0;
    font-family: verdana;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

button {
    color: #fff;
    background-color: #025157;
}

img {
    height: auto; 
    max-width: 30%;
}